---
import SideBarFooter from "@components/SideBarFooter.astro";
import { getCollection } from "astro:content";
import { getMyDescription } from "src/config";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Chunlee THONG</div>
    <div class="text-3xl py-4 font-bold">Mobile Application Developer</div>
    <div class="py-2">
      <text class="text-lg">
        {getMyDescription()}
      </text>
    </div>
    <SideBarFooter />
  </div>
</BaseLayout>
