---
import { getMyDescription } from "src/config";
import TimeLineElement from "../components/cv/TimeLine.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    {getMyDescription()}
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Android Mobile Development"
      subtitle="2018 at CKCC, Phnom Penh, Cambodia"
    />
    <TimeLineElement
      title="Bachelor Degree of Computer Science"
      subtitle="2015 to 2019 at Royal University of Phnom Penh, Phnom Penh, Cambodia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Flutter Developer at ABA Bank"
      subtitle="From May-2023 to Present, Phnom Penh, Cambodia"
    />

    <TimeLineElement
      title="Flutter Developer at ABA Bank"
      subtitle="From August-2021 to May-2023, Phnom Penh, Cambodia"
    />

    <TimeLineElement
      title="Flutter Developer at Optistech"
      subtitle="From April-2019 to August-2021, Phnom Penh, Cambodia">
      Develop and maintain Android application using Retrofit, Java, Kotlin, RxJava and MVP design
      pattern
    </TimeLineElement>

    <TimeLineElement
      title="Android Developer at Optistech"
      subtitle="From November-2018 to April-2019, Phnom Penh, Cambodia">
      Develop and maintain Android application using Retrofit, Java, Kotlin, RxJava and MVP design
      pattern
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Flutter</li>
    <li>React</li>
    <li>Nest JS</li>
    <li>Mongo DB</li>
    <li>Docker</li>
    <li>Firebase</li>
    <li>Linux</li>
    <li>DevOps</li>
  </ul>
</BaseLayout>
